@using DysonSphereBlueprints.Web.Code.Model

<div class="rz-p-0 rz-p-md-12">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="Title" Variant="@Variant.Outlined">
                    <RadzenTextBox @bind-Value="@Model.Title" />
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="Description" Variant="@Variant.Outlined">
                    <RadzenTextArea @bind-Value="@Model.Description" Rows="4" />
                </RadzenFormField>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</div>

@code {
    [Parameter] public BlueprintEditModel Model { get; set; }
}